menu "ncurses"

config NCURSES
	package "NCURSES support"
	default n

if NCURSES

config NCURSES_SRCDIR
       srcdir "Source directory"
       default "ncurses-*"

config NCURSES_WIDEC
       bool "Enable wide characters support"

endif

endmenu
