menu "ncurses"

config NCURSES
	package "NCURSES support"
	default n

if NCURSES

config NCURSES_SRCDIR
       srcdir "Source directory"
       default "ncurses-*"

config NCURSES_WIDEC
       depends on !READLINE
       bool "Enable wide characters support"

config NCURSES_FULL_TERMINFO
       bool "Install full terminfo database"

endif

endmenu
