menu "Kexec-tools"

config KEXEC_TOOLS
	package "Kexec tools"

if KEXEC_TOOLS

config KEXEC_TOOLS_SRCDIR
       srcdir "Source directory"
       default "kexec-tools-*"

config KEXEC_ZLIB
       bool "Enable zlib compression"
       build_select ZLIB

config KEXEC_LZMA
       bool "Enable lzma compression"
       build_select XZ

config KEXEC_TOOLS_KDUMP
       bool "Install kdump tool"

endif

endmenu
