source "toolchain/Kconfig"

menu "Packages"

config SRC_BASEDIR
	string "Package source trees search path"
	default "$(HOME)/src:/usr/src"

	help
	  The list of directories, separated by columns, under which
	  the packages source trees will be looked for. If relative,
	  it is relative to Mkrootfs directory.

source "base/Kconfig"
source "linux/Kconfig"
source "busybox/Kconfig"
source "strace/Kconfig"
source "xenomai/Kconfig"
source "netcat/Kconfig"
source "make/Kconfig"
source "ltp/Kconfig"
source "tests/Kconfig"

endmenu
