menu "Real-time tests & benches"

config TESTS
	package "Real-time tests"
	select LTP
	select NETCAT
	help
	  This packages contains a few binaries and select everything
	  which is necessary to run tests and benches on a real-time
	  system.

if TESTS

config TESTS_SRCDIR
       srcdir
       default "$(srctree)/tests"

config TESTS_XENO
       def_bool XENO
       build_depends on XENO
       select XENO_TESTSUITE

endif

endmenu
