menu "Real-time tests & benches"

config TESTS
	package "Real-time tests"
	select NETCAT
	build_depends on LINUX
	help
	  This packages contains a few binaries  which is necessary to
	  run tests and benches on a real-time system. You should enable
	  the ltp package if you want to use the "dohell" test.

if TESTS

config TESTS_SRCDIR
       srcdir
       default "$(srctree)/tests"

config TESTS_XENO
       def_bool y
       build_depends on XENO
       select XENO_TESTSUITE

if TESTS_XENO

config XENO_TEST_FRONTEND
       bool "Install interactive xeno-test frontend"
       select DIALOG

endif

config TESTS_LTP
       def_bool y
       depends on LTP

endif

endmenu
