menu "GDB"

config GDB
        build_select READLINE
	package "GDB debugger"
	default n

if GDB

config GDB_SRCDIR
       srcdir "Source directory"
       default "gdb-*"

config GDB_ZLIB
       bool "Enable zlib compression"
       build_select ZLIB

endif

endmenu
