menu "RTnet"

config RTNET
	package "RTnet deterministic IP stack"
	build_select XENO
	build_select LINUX

if RTNET

config RTNET_SRCDIR
       srcdir "Source directory"
       default "rtnet-*"

endif

endmenu
