menu "Strace"

config STRACE
	package "Strace tool"
	depends on !ARCH_BFIN
	default y

if STRACE

config STRACE_SRCDIR
       srcdir "Source directory"
       default "strace-*"

config STRACE_AIO
       bool "Enable aio decoding"
       build_select LIBAIO

endif

endmenu
