menu "Dialog"

config DIALOG
	package "Dialog tool"
	build_select NCURSES

if DIALOG

config DIALOG_SRCDIR
       srcdir "Source directory"
       default "dialog-*"

config DIALOG_WIDEC
       depends on !READLINE
       select NCURSES_WIDEC
       bool "Enable wide characters support"

endif

endmenu
