menu "pciutils"

config PCIUTILS
       package "PCI utilities"

if PCIUTILS

config PCIUTILS_SRCDIR
       srcdir "Source directory"
       default "pciutils-*"

config PCIUTILS_ZLIB
       bool "Enable zlib compression"
       build_select ZLIB

endif

endmenu
