menu "LTP (newer versions)"

config LTP_NEW
	package "Linux Testing Project (newer versions)"

	help
	  Older versions of LTP required running "make install" on the
	  board to have the installation working when cross-compiling,
	  which is what LTP_OLD does. Newer versions of LTP do not
	  require this, LTP_NEW is made for these. Note that LTP_OLD
	  will work with any version, whereas LTP_NEW will not work
	  correctly with old versions.

if LTP_NEW

config LTP_NEW_SRCDIR
       srcdir "Source directory"
       default "ltp-full-*"

config LTP_NEW_AIO
       bool "Enable aio test cases"
       build_select LIBAIO

endif

endmenu
