menu "BusyBox"

config BUSYBOX
	package
	default y

if BUSYBOX

config BUSYBOX_SRCDIR
	srcdir "Source directory"
	default "busybox-*"

choice
	prompt "Configuration file"

config BUSYBOX_BOARD_DEFCONFIG
	bool "Use busybox defconfig"
	help
	  Use busybox defconfig file.

config BUSYBOX_BOARD_CONFIG
	bool "From board directory"
	help
	  Use the file named busybox-config in the boards/$(MKR_BOARD_NAME)
	  directory in mkrootfs tree.

endchoice

endif

endmenu
