menu "Base skeleton"

config BASE
	package
	default y

if BASE

config BASE_SRCDIR
       srcdir
       default "$(srctree)/boards/$(MKR_BOARD)"

config BOARD
	string "Board directory name"
	default "generic"
	help
	  Directory where architecture or board specific files will be taken.
	  This is a path relative to the boards directory in mkrootfs tree.

choice
	prompt "Serial console device"

config SERIAL_STD
       bool "Standard device"
       help
	 Choose this option if the serial port used by your board is
       	 one of the standard ports from ttyS0 to ttyS3.

config SERIAL_CUSTOM
       bool "Custom device"
       help
	 Choose this option if the serial port used by your board is
       	 another device.

endchoice

if SERIAL_CUSTOM

config SERIAL_DEV
	string "Serial console device"
	default "ttyS0"
	help
	  Name of the serial console device node in the /dev directory.

config SERIAL_MAJOR
       int "Serial console device node major number"

config SERIAL_MINOR
       int "Serial console device node minor number"

endif

config KEYBOARD_MAPS
       bool "Keyboard maps"
       help
         Choose this option if you intend to use the console on
       	 virtual terminal instead of serial port and the default
      	 qwerty keyboard map does not suit the heyboard.

if KEYBOARD_MAPS

choice
	prompt "Keyboard maps to install"

config KEYBOARD_ONE_MAP
       bool "Install only one keyboard map"
       help
	 Choose this option if you know in advance what map you will
       	 need on the device.

config KEYBOARD_ALL_MAPS
       bool "Install all keyboard maps"
       help
	 Choose this option to copy all the keyboard maps in the
       	 resulting rootfs, allowing the user to choose the map to use.

endchoice

if KEYBOARD_ONE_MAP

config KEYBOARD_MAP_NAME
	string "Keyboard map name"
	default "fr-latin9"
	help
	  Name of the default keymap to install.

endif

endif

config SWAP
	bool "Enable swap file on storage device"
	help
	  Add a swap file on a storage device on target. 
	  This may be useful for enlarging virtual memory
	  when running tests. This does not destroy the contents
	  of the storage device.

if SWAP

config SWAP_DEV
	string "Storage device name"
	default "sda1"
	help
	  Enter the device name here, without /dev.
endif

if !SWAP

config SWAP_DEV
	default "null"

endif

endif

endmenu
