menu "Base skeleton"

config BASE
	package
	default y

if BASE

config BOARD
	string "Board directory name"
	default "generic"
	help
	  Directory where architecture or board specific files will be taken.
	  This is a path relative to the boards directory in mkrootfs tree.

config SERIAL_DEV
	string "Serial console device"
	default "ttyS0"
	help
	  Name of the serial console device node in the /dev directory.

config SERIAL_BAUDRATE
	int "Serial console baud rate"
	default 115200

config MOUNT
	bool "Mount storage device"
	help
	  Add a storage device to be mounted automatically on
	  target. This may useful for adding some storage devices
	  pressure when running tests.

if MOUNT

config MOUNT_DEV
	string "Storage device name"
	default "sda1"
	help
	  Enter the device name here, without /dev.
endif

endif

endmenu
