menu "Parted"

config PARTED
	package "Parted tool"
	build_select UTIL_LINUX
	build_select DEVICE_MAPPER

if PARTED

config PARTED_SRCDIR
       srcdir "Source directory"
       default "parted-*"

config PARTED_LIBBLKID
       def_bool y
       select UTIL_LINUX_LIBBLKID

endif

endmenu
