menu "Linux kernel"

config LINUX
	package
	default y

if LINUX

config KCC
	string "Linux kernel compiler"
	default "$(CC)"

config LINUX_SRCDIR
	srcdir "Sources directory"
	default "linux-*"

config LINUX_CONFIG
	string "Configuration file"
	default "config-$(KERNELVERSION)"
	help
	  The kernel configuration file, it may be a path, it will be
	  taken as relative to the board directory, or a defconfig target name.

config LINUX_TARGETS
	string "Targets"
	default "uImage"
	help
	  Target or list of targets, separated by spaces, to run when compiling
	  the kernel.

config LINUX_IMAGE
	string "Image"
	default "arch/$(KARCH)/boot/uImage"
	help
	  Kernel image to be copied to a boot-loader specific directory.

config LINUX_IMAGE_DEST
	string "Image destination"
	default "/var/lib/tftpboot/$(MKR_BOARD)/uImage-$(KERNELVERSION)"
	help
	  Directory where the kernel image file will be copied. The copy uses
	  scp if this destination has the form host:path or user@host:path.

config LINUX_EXTRA_FILES
	string "Extra output files"
	help
	  Extra board specific output files

config LINUX_EXTRA_INSTALL
	string "Extra output files installation directory"
	help
	  Directory where the output files will be installed. The copy uses
	  scp if this destination has the form host:path or user@host:path.

endif

endmenu
