menu "Toolchain and flags selection"

config TOOLCHAIN
	package
	default y

if TOOLCHAIN

choice
	prompt "Architecture"

config ARCH_ARM
	bool "arm"

config ARCH_BFIN
	bool "blackfin"

config ARCH_NIOS2
	bool "nios2"

config ARCH_PPC32
	bool "powerpc 32 bits"

config ARCH_PPC64
	bool "powerpc 64 bits"

config ARCH_I386
        bool "i386"

config ARCH_X86_32
	bool "x86 32 bits"

config ARCH_X86_64
	bool "x86 64 bits"

config ARCH_SH4
	bool "SH-4"

endchoice

config ARCH
	string
	default "arm" if ARCH_ARM
	default "bfin" if ARCH_BFIN
	default "nios2" if ARCH_NIOS2
	default "ppc" if ARCH_PPC32
	default "ppc64" if ARCH_PPC64
	default "sh4" if ARCH_SH4
	default "i686" if ARCH_X86_32
	default "i686" if ARCH_I386
	default "x86_64" if ARCH_X86_64

config KARCH
	string
	default "arm" if ARCH_ARM
	default "blackfin" if ARCH_BFIN
	default "i386" if ARCH_I386
	default "nios2" if ARCH_NIOS2
	default "powerpc" if ARCH_PPC32 || ARCH_PPC64
	default "sh" if ARCH_SH4
	default "x86" if ARCH_X86_32 || ARCH_X86_64

config CONFIGURE_HOST
	string "Configure host string"
	default "$(ARCH)-linux"
	help
	  String passed to the --host argument of configure scripts

config CC
	string "Cross-compiler"
	default "$(ARCH)-linux-gcc"

config CXX
	string "C++ Cross-compiler"
	default "$(ARCH)-linux-g++"

config ARCH_FLAGS
	string
	default "-march=armv4t -msoft-float" if ARM_ARCH = 4
	default "-march=armv5te -msoft-float" if ARM_ARCH = 5 && ARM_FLOAT_SOFT
	default "-march=armv5te -mfpu=vfp -mfloat-abi=softfp" if ARM_ARCH = 5 && ARM_FLOAT_VFP_SOFT_ABI
	default "-march=armv5te -mfpu=vfp -mfloat-abi=hard" if ARM_ARCH = 5 && ARM_FLOAT_VFP_HARD_ABI
	default "-march=armv6 -msoft-float" if ARM_ARCH = 6 && ARM_FLOAT_SOFT
	default "-march=armv6 -mfpu=vfp -mfloat-abi=softfp" if ARM_ARCH = 6 && ARM_FLOAT_VFP_SOFT_ABI
	default "-march=armv6 -mfpu=vfp -mfloat-abi=hard" if ARM_ARCH = 6 && ARM_FLOAT_VFP_HARD_ABI
	default "-march=armv7-a -msoft-float" if ARM_ARCH = 7 && ARM_FLOAT_SOFT
	default "-march=armv7-a -mfpu=vfp3 -mfloat-abi=softfp" if ARM_ARCH = 7 && ARM_FLOAT_VFP_SOFT_ABI
	default "-march=armv7-a -mfpu=vfp3 -mfloat-abi=hard" if ARM_ARCH = 7 && ARM_FLOAT_VFP_HARD_ABI
	default "-m32" if ARCH_X86_32

if ARCH_ARM

config ARM_ARCH
	int "ARM architecture"
	range 4 7
	default 5

choice
	prompt "Floating points support"
       	default ARM_FLOAT_VFP_SOFT_ABI if ARM_ARCH = 6 || ARM_ARCH = 7
	default ARM_FLOAT_SOFT if ARM_ARCH = 4 || ARM_ARCH = 5

config ARM_FLOAT_SOFT
	bool "Soft-float"

config ARM_FLOAT_VFP_SOFT_ABI
	bool "VFP with soft-float ABI"

config ARM_FLOAT_VFP_HARD_ABI
	bool "VFP with hard-float ABI"

endchoice

config CFLAGS
	string "Compilation flags"
	default "$(ARCH_FLAGS) -g -Os"

config LDFLAGS
	string "Link flags"
	default "$(ARCH_FLAGS) -g -Os"

endif

if !ARCH_ARM

config CFLAGS
	string "Compilation flags"
	default "$(ARCH_FLAGS) -g -O2"

config LDFLAGS
	string "Link flags"
	default "$(ARCH_FLAGS) -g -O2"

endif

choice
	prompt "Toolchain sysroot"
	default SYSROOT_AUTO

config SYSROOT_AUTO
       bool "Automatic"
       help
	 Try and guess toolchain sysroot automatically. If you get an
       	 error at the configuration check step, choose SYSROOT_MANUAL,
	 and set SYSROOT to where the toolchain sysroot is.

config SYSROOT_MANUAL
       bool "Manual"

endchoice

if SYSROOT_MANUAL

config SYSROOT
       string "sysroot location"

endif

menu "Toolchain libraries selection"

config LIBDL
       bool "Install libdl"
       default y

config LIBM
       bool "Install libm"
       default y

config LIBPTHREAD
       bool "Install libpthread"
       default y

config LIBRESOLV
       bool "Install name resolution libraries"
       default y

config LIBSTDCPP
       bool "Install libstdc++"
       default n

config LIBUTIL
       bool "Install libutil"
       default n

endmenu

endif

endmenu
