menu "Toolchain and flags selection"

config TOOLCHAIN
	package
	default y

if TOOLCHAIN

choice
	prompt "Architecture"

config ARCH_ARM
	bool "arm"

config ARCH_BFIN
	bool "blackfin"

config ARCH_NIOS2
	bool "nios2"

config ARCH_PPC32
	bool "powerpc 32 bits"

config ARCH_PPC64
	bool "powerpc 64 bits"

config ARCH_I386
	bool "i386"

config ARCH_X86_32
	bool "x86 32 bits"

config ARCH_X86_64
	bool "x86 64 bits"

config ARCH_SH4
	bool "SH-4"

endchoice

config ARCH
	string
	default "arm" if ARCH_ARM
	default "bfin" if ARCH_BFIN
	default "nios2" if ARCH_NIOS2
	default "ppc" if ARCH_PPC32
	default "ppc64" if ARCH_PPC64
	default "sh4" if ARCH_SH4
	default "i686" if ARCH_X86_32
	default "i686" if ARCH_I386
	default "x86_64" if ARCH_X86_64

config KARCH
	string
	default "arm" if ARCH_ARM
	default "blackfin" if ARCH_BFIN
	default "i386" if ARCH_I386
	default "nios2" if ARCH_NIOS2
	default "powerpc" if ARCH_PPC32 || ARCH_PPC64
	default "sh" if ARCH_SH4
	default "x86" if ARCH_X86_32 || ARCH_X86_64

if ARCH_X86_64

config ARCH32
       string
       default "i686" if ARCH_X86_64

endif

config HAVE_TOOLCHAIN32
       def_bool ARCH_X86_64

config CONFIGURE_HOST
	string "Configure host string"
	default "$(ARCH)-linux"
	help
	  String passed to the --host argument of configure scripts

config CC
	string "Cross-compiler"
	default "$(ARCH)-linux-gcc"

config CXX
	string "C++ Cross-compiler"
	default "$(ARCH)-linux-g++"

config ARCH_FLAGS
	string
	default "-march=armv4t -msoft-float" if ARM_ARCH = 4
	default "-march=armv5te -msoft-float" if ARM_ARCH = 5 && ARM_FLOAT_SOFT
	default "-march=armv5te -mfpu=vfp $(ARM_VFP_ABI)" if ARM_ARCH = 5 && ARM_FLOAT_VFP2
	default "-march=armv6 -msoft-float" if ARM_ARCH = 6 && ARM_FLOAT_SOFT
	default "-march=armv6 -mfpu=vfp $(ARM_VFP_ABI)" if ARM_ARCH = 6 && ARM_FLOAT_VFP2
	default "-march=armv7-a -msoft-float" if ARM_ARCH = 7 && ARM_FLOAT_SOFT
	default "-march=armv7-a -mfpu=vfp3 $(ARM_VFP_ABI)" if ARM_ARCH = 7 && ARM_FLOAT_VFP3
	default "-march=armv7-a -mfpu=vfp3-d16 $(ARM_VFP_ABI)" if ARM_ARCH = 7 && ARM_FLOAT_VFP3_D16
	default "-march=armv7-a -mfpu=neon $(ARM_VFP_ABI)" if ARM_ARCH = 7 && ARM_FLOAT_NEON
	default "-march=armv7-a -mfpu=vfp4 $(ARM_VFP_ABI)" if ARM_ARCH = 7 && ARM_FLOAT_VFP4
	default "-march=armv7-a -mfpu=vfp4-d16 $(ARM_VFP_ABI)" if ARM_ARCH = 7 && ARM_FLOAT_VFP4_D16
	default "-m32" if ARCH_X86_32

if ARCH_ARM

config ARM_ARCH
	int "ARM architecture"
	range 4 7
	default 5

choice
	prompt "Floating points support"
	default ARM_FLOAT_VFP2 if ARM_ARCH = 6
	default ARM_FLOAT_VFP3 if ARM_ARCH = 7
	default ARM_FLOAT_SOFT if ARM_ARCH = 4 || ARM_ARCH = 5

config ARM_FLOAT_SOFT
	bool "Soft-float"

if ARM_ARCH = 5 || ARM_ARCH = 6

config ARM_FLOAT_VFP2
	bool "VFP2 hard float"

endif

if ARM_ARCH = 7

config ARM_FLOAT_VFP3
	bool "VFP3 hard float"

config ARM_FLOAT_VFP3_D16
	bool "VFP3-D16 hard float"

config ARM_FLOAT_NEON
	bool "NEON hard float"

config ARM_FLOAT_VFP4
	bool "VFP4 hard float"

config ARM_FLOAT_VFP4_D16
	bool "VFP4-D16 hard float"

endif

endchoice

config ARM_FLOAT_VFP
       def_bool !ARM_FLOAT_SOFT

config CFLAGS
	string "C Compilation flags"
	default "$(ARCH_FLAGS) -g -Os"

config CXXFLAGS
	string "C++ Compilation flags"
	default "$(ARCH_FLAGS) -g -Os"

config LDFLAGS
	string "Link flags"
	default "$(ARCH_FLAGS) -g -Os"

endif

if !ARCH_ARM

config CFLAGS
	string "C Compilation flags"
	default "$(ARCH_FLAGS) -g -O2"

config CXXFLAGS
	string "C++ Compilation flags"
	default "$(ARCH_FLAGS) -g -O2"

config LDFLAGS
	string "Link flags"
	default "$(ARCH_FLAGS) -g -O2"

endif

choice
	prompt "Toolchain sysroot"
	default SYSROOT_AUTO

config SYSROOT_AUTO
       bool "Automatic"
       help
	 Try and guess toolchain sysroot automatically. If you get an
	 error at the configuration check step, choose SYSROOT_MANUAL,
	 and set SYSROOT to where the toolchain sysroot is.

config SYSROOT_MANUAL
       bool "Manual"

endchoice

if SYSROOT_MANUAL

config SYSROOT
       string "sysroot location"

endif

if HAVE_TOOLCHAIN32

config TOOLCHAIN32
       bool "Enable use of 32 bits toolchain"

if TOOLCHAIN32

config CONFIGURE_HOST32
	string "Configure 32 bits version host string"
	default "$(ARCH32)-linux"
	help
	  String passed to the --host argument of configure scripts

config CC32
	string "32 bits Cross-compiler"
	default "$(CC) -m32"

config CXX32
	string "32 bits C++ Cross-compiler"
	default "$(CXX) -m32"

choice
	prompt "32 bits Toolchain sysroot"
	default SYSROOT32_AUTO

config SYSROOT32_AUTO
       bool "Automatic"
       help
	 Try and guess toolchain sysroot automatically. If you get an
	 error at the configuration check step, choose SYSROOT32_MANUAL,
	 and set SYSROOT to where the toolchain sysroot is.

config SYSROOT32_MANUAL
       bool "Manual"

endchoice

if SYSROOT32_MANUAL

config SYSROOT32
       string "32 bits sysroot location"

endif

endif

endif

menu "Toolchain libraries selection"

config LIBDL
       bool "Install libdl"
       default y

config LIBM
       bool "Install libm"
       default y

config LIBPTHREAD
       bool "Install libpthread"
       default y

config LIBRESOLV
       bool "Install name resolution libraries"
       default y

config LIBSTDCPP
       bool "Install libstdc++"
       default n

config LIBUTIL
       bool "Install libutil"
       default n

endmenu

endif

endmenu
